<!-- STRING INTERPOLATION -->

<!-- <h1>{{title}}</h1>
<h1>{{randomNumber}}</h1> -->

<!-- <h1>{{book.title}}</h1>
<h1>{{book.author}}</h1>
<h1>{{book.isbn}}</h1> -->




<!-- PROPERTY BINDING -->

<!-- <img [src]="imageSource" alt=""> -->

<!-- <button [disabled]="isButtonDisabled">Click Me</button> -->

<!-- <input type="text" [value]="inputValue"> -->

<!-- <app-card [title]="'This is the title'" [body]="'This is the body'" ></app-card> -->



<!-- EVENT BINDING -->

<!-- <button
(click)="onButtonClick()"
(mouseover)="onButtonMouseOver()">Click Me!</button> -->

<!-- <input #input type="text">
<button (click)="onClick(input.value)">Submit</button> -->

<!-- // Event binding custom components -->
<!-- <app-name (nameSubmit)="onNameSubmit($event)"></app-name> -->

<!-- <input type="text" (change)="onInputChange($event)"> -->



<!-- ngModel -->
<!-- <input type="text" [(ngModel)]="username">
<h1>Your username is {{username}}</h1> -->
















